/* General Styles */
body {
    background-color: black; /* Dark theme by default */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #ffffff;
    color: #4a4a4a;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-right, .social-icons {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#search-bar {
    padding: 5px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2a9d8f; /* Teal hover effect */
}

/* Intro Section Styles */
.intro-section {
    text-align: center;
    margin: 20px 0;
}

.profile-pic {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    border-radius: 50%;
    margin: 0 auto; /* Centers the image */
    display: block; /* Makes it a block-level element, allowing for margin auto to work */
}

.info-container h1 {
    margin: 10px 0;
    font-size: 1.5em;
}

.info-container .designation {
    margin: 5px 0; /* Adds some space between the name and designation */
}

.social-icons {
    justify-content: center;
    gap: 10px; /* Adds space between icons */
    margin-top: 10px; /* Space between designation and icons */
}

.social-icons img {
    width: 24px; /* Adjust icon size as needed */
    height: 24px; /* Adjust icon size as needed */
}

/* Responsive Design */
@media (max-width: 768px) {
    header, nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Education Section */
#education {
    margin-top: 20px;
}

.education-item {
    display: flex;
    margin-bottom: 20px;
}

.education-year {
    flex-basis: 20%;
    font-weight: bold;
    margin-right: 20px;
}

.education-details {
    flex-basis: 80%;
}

.education-details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.education-details p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.4;
}

/* Other Sections */
.other-sections section {
    display: none;
}

.other-sections section.active {
    display: block;
}

main {
    flex: 1;
}
