body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #4a4a4a; /* Dark gray text */
    background-color: #f8f8f8; /* Light gray background */
}

header {
    background-color: #ffffff; /* White background for the header */
    color: #4a4a4a; /* Dark gray for text */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#search-bar {
    padding: 5px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #4a4a4a;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2a9d8f; /* Teal hover effect */
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex-shrink: 0; /* Prevents resizing of image */
}

.text-content {
    flex-grow: 1;
    max-width: 800px; /* Adjust as needed */
}

.content-section {
    margin-bottom: 20px;
}

.achievements-list, .content-section ol {
    list-style-type: none;
    padding: 0;
}

.achievements-list li, .content-section ol li {
    margin-bottom: 10px;
    color: #4a4a4a;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Dark theme styles */
.dark-theme {
    background-color: black;
    color: white;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .profile-content {
        flex-direction: column;
        align-items: center;
    }

    .header-right {
        padding-top: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
